@import "~bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}
//HEADER

.upper-colored-nav{
    background-color: #1782F9;
    height: 20px;
}
.jumbotron{
    background-image: url(../img/jumbotron.jpg);
    min-height: 300px;
    background-size: cover;
}
//MAIN

.bg-box{
    background-color: rgb(25, 24, 24);
}
// FOOTER
.footer-top{
    background-image: url(../img/footer-bg.jpg);
    height: 400px;
}

.title{
    font-weight: bold;
    color: white;
};


.link-list{
    color:gray;
}

